<div class="box-section contact-section triggerAnimation animated fadeInUpBig" data-animate="fadeInUpBig">
	<div class="container bs20">
		<h2>Edit Volunteer Tracking Entry</h2>  
	</div>

	<%= render 'form' %>
</div>