<div class="panel panel-success swListPanel">
	<div class="panel-heading">
		<h2><%= @user.name %> Profile</h2> 
	</div>
	<table class="table table-hover">
		<tbody>
		<tr>
			<td>Name</td>
			<td><%= @user.name%></td>
		</tr>
		<tr>
			<td>Email</td>
			<td><%= @user.email%></td>
		</tr>
		</tbody>
	</table>

</div>
