<div class="home panel panel-success">
	<div class="panel-heading"><h2>Frequently asked questions</h2></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12">
				<div class="question">
					<h4 class="title">What is Community Impact? </h4>
					<p class="answer">
					Community Impact is making meaningful changes to the community that needs attention, care and love.
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">What is the goal?</h4>
					<p class="answer">
					The goal is to make a Change. Change happens when service oriented individuals from different backgrounds unite and work together to empower the struggling communities to thrive. We want to bring that change and we want to see smile in their faces. 
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">What does the ABCO CI team do?</h4>
					<p class="answer">
					This is a volunteer team which provides time and effort for someone who is in need of help. 
					Some activities of ABCO IT team are but not limited to 
					<ul>
						<li>Support elderly and orphaned kids</li>
						<li>Tutoring in school (Quiz contest, Drawing competition)</li>
						<li>Beautify the environment (coastal cleanup, tree plantation)</li>
					</ul>
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">How to Help ?</h4>
					<p class="answer">
					There are two ways you can help
					<ul>
						<li>Physically - Engage physically in the community Impact team activities during week days and in weekends.</li> 
						<li>Financially - you can make In-Kind donation for CI team activities.</li> 
					</ul>
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">Who do I contact for Financial contribution ?</h4>
					<p class="answer">
					Santhosh Vidyasekaran, Test Engineer (Email : VidyaseS@advisory.com)
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">How to get involved in any activity organized by CI?</h4>
					<p class="answer">
					Look out for the upcoming events in (Mention the section name of the application) and let know the event's POC in person/Skype/Email. The POC will guide you from there.  
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">What is the takeaway?</h4>
					<p class="answer">
					<ul>
						<li>Self-satisfaction - The biggest benefit people get from volunteering and service is the satisfaction of incorporating service into their lives, and making a difference in their community and country</li>
						<li>You get a chance to empower yourself and discover your potentials</li> 

					</ul>
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">Will my contribution for CI team be counted during performance review process?</h4>
					<p class="answer">
					No, It will not be included in performance review process. 
					Community Impact services are voluntary programs which aims to bring change to the community we live in. 
					</p>
				</div>
				<hr />
				<p class="well">Community Impact Hours Tracking</p>
				<div class="question">
					<h4 class="title">What is Community Impact Volunteer Tracking?</h4>
					<p class="answer">
					Community Impact recognizes employees for their volunteer work with nonprofit organizations. 
					For recording purpose any time spent volunteering for a non-profit or population in need should be tracked towards your Community Impact hours

					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">Can I log hours spent for a volunteer activity not organized by the firm or my Community Impact Lead?</h4>
					<p class="answer">
					Yes. Community Impact encourages employees to not only volunteer at team and firm-wide sponsored events, but also with individual-driven community service projects
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">Does travel time count toward volunteer hours?</h4>
					<p class="answer">
					Time spent traveling to and from service events does not count toward Community Impact hours. Volunteer time begins when you arrive onsite and ends when you leave the event
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">How many hours can you count for fundraisers?</h4>
					<p class="answer">
					For fundraisers, including charitable walks, runs, and marathons, the time spent planning, promoting, and fundraising may be applied to your Community Impact hours. Additionally, the actual time spent at the event (time spent walking, running, staffing, etc.) may also be applied to Community Impact hours.
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">Can I track the hours I spend training for a charitable walk or run (i.e. Team in Training)?</h4>
					<p class="answer">
					Hours cannot be tracked for the time spent training (i.e. physical workouts, time spent at the gym, etc.) for a charity marathon, walk, or run
					</p>
				</div>
				<hr />
				<div class="question">
					<h4 class="title">Is time spent in all charitable/nonprofit organization recognized? Is there any exemption?</h4>
					<p class="answer">
					Regardless of charitable/nonprofit status, the following types of organizations are not eligible for volunteer time tracking:
					<ul>
						<li>Religious organizations for religious purposes</li>
						<li>Organizations that discriminate on the basis of race, color, creed, gender, religion, age, national origin, or sexual orientation</li>
						<li>Political organizations</li>
						<li>Labor organizations</li>
						<li>Fraternal organizations for the purposes of alumni and recruitment purposes</li>
					</ul>
					</p>
				</div>
				<hr />

			</div>
		</div>

	</div>
</div>
