<div class="home panel panel-success">
	<div class="panel-heading"><h2>Crimson Service Week Album</h2></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-lg-12">
				<div class="imgholder">
					<%= image_tag 'img_0032.jpg', :alt => 'Community Service Week Activity' %>
				</div>
			</div>
		</div>

	</div>
</div>
