<div class="home panel panel-success">
	<div class="panel-heading"><h2>Community Impact Service Hours Tracking</h2></div>
	<div class="panel-body">
		<p>		<h4>This application is for tracking the volunteer activities performed during the Crimson Service Week.
			<br /><br />
			Please sign-in or register to continue</h4></p>
	</div>
</div>
