<div class="home panel panel-success">
<div class="panel-heading">Volunteer Activity Tracking</div>
<p>This application is for tracking the volunteer activities performed during the Crimson Service Week.</p>

<p>Please sign-in or register to continue</p>
</div>
