// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home
{
	.panel-body
	{
		padding:10px;

		h4
		{
			margin:0px;
		}

		img
		{
			width:60%;
		}

		.imgholder
		{
			text-align:center;
		}

		.question
		{
			.title
			{
				margin-bottom:8px;
			}

			margin-bottom:20px;
			margin-top:20px;
		}

		.well
		{
			font-weight:bold;
			font-size:2em;
		}
	}
}
