<ul class="list-group">
	<li class="list-group-item"><%= link_to "Sign in", signin_path %></li>
	<li class="list-group-item"><%= link_to "Register!", new_user_path%></li>
	<li class="list-group-item"><%= link_to 'FAQs', controller: "home", action: "faq" %> </li>
</ul>
